@use '../../assets/global-styles/variables.scss' as *;

.home {
  background: var(--home-bg), var(--app-bg);
  background-repeat: repeat-x;
  background-position: bottom 1.5rem left 1.5rem;
  background-size: auto 5.5rem;
  flex-direction: column;
  padding-top: 25vh;
  min-height: 100vh;
}

.home__title {
  font-size: clamp(1.35rem, 8vw, 2.75rem);
  padding-bottom: 1rem;
}