.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  letter-spacing: 1px;
  width: 90%;
  max-width: 96rem;
  margin: 0 auto;
  padding-top: 10rem;
  text-align: center;
  @media (min-width: 80rem) {
    flex-direction: row;
    padding-top: 7rem;
    text-align: left;
    padding-inline: 5rem;
  }
}

.about > * {
  width: 100%;
}

.about-title {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 1rem;
  @media (min-width: 80rem) {
    text-align: left;
  }
}

.about-us,
.our-mission {
  padding-bottom: 2.5rem;
}

.about-text {
  max-width: 30rem;
  letter-spacing: 1px;
  line-height: 1.75;
  margin: 0 auto;
  padding-bottom: 1.5rem;
  @media (min-width: 80rem) {
    margin: 0;
}
}

.about-img {
  max-width: 600px;
  padding-bottom: 1rem;
  @media (min-width: 80rem) {
    padding-bottom: 0;
  }
}