@use '../../assets/global-styles/variables.scss' as *;

.contact-page {
  text-align: center;
  max-width: 90%;
  margin: 0 auto;
  @media(min-width: 38rem) {
    text-align: left;
    max-width: 34rem;
  }
}

.contact-page__title {
  margin-bottom: 1rem;
}

.contact-page__description {
  margin-bottom: 1.5rem;
}

//CONTACT FORM

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}

.input-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;

  label {
    position: absolute;
    top: 1.25rem;
    color: $clr-primary-orange;
    left: 1rem;
    transition: all .2s ease-in;
    cursor: text;
    font-size: 1rem;
  }

  input, textarea {
    background: $clr-neutral-blue-900;
    border: 2px solid $clr-neutral-white;
    border-radius: 5px;
    color: $clr-neutral-white;
    padding: 1rem;
    width: 100%;
  }

  input:focus ~ label,
  input:not(:placeholder-shown) ~ label,
  textarea:focus ~ label,
  textarea:not(:placeholder-shown) ~ label {
    top: -0.75rem;
    left: .5rem;
    background: $clr-neutral-blue-900;
    padding-inline: .75rem;
  }
}

input:focus,
textarea:focus {
  /* Provide a fallback style for browsers
     that don't support :focus-visible */
  outline: 3px dashed $clr-primary-orange;
}

input:focus:not(:focus-visible),
textarea:focus:not(:focus-visible) {
  /* Remove the focus indicator on mouse-focus for browsers
     that do s  upport :focus-visible */
  outline: none;
}

input:focus-visible, 
textarea:focus-visible {
  /* for browsers that do support :focus-visible */
  outline: 3px dashed $clr-primary-orange;
}

.contact-form-btn {
  background: $clr-primary-orange;
  border: none;
  border-radius: 5px;
  color: $clr-neutral-white;
  cursor: pointer;
  padding: .5rem 3rem;
  transition: all .2s ease-in;
  margin: 0 auto;
  @media(min-width: 38rem) {
    margin: 0;
    padding: .5rem 2.5rem;
  }
}

.contact-form-btn:hover {
  background: $clr-neutral-white;
  color: $clr-primary-orange;
}

.contact-form-btn:focus {
  /* Provide a fallback style for browsers
     that don't support :focus-visible */
  outline: 3px dashed $clr-neutral-white;
}

.contact-form-btn:focus:not(:focus-visible) {
  /* Remove the focus indicator on mouse-focus for browsers
     that do s  upport :focus-visible */
  outline: none;
}

.contact-form-btn:focus-visible {
  /* for browsers that do support :focus-visible */
  outline: 3px dashed $clr-neutral-white;
}

//MODAL

.modal {
  background: $clr-neutral-white;
  border: 3px dashed $clr-primary-orange;
  border-radius: 5px;
  color: $clr-neutral-blue-900;
  padding: 2rem;
  width: 90%;
  max-width: 28rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2000;

  h2 {
    padding-bottom: 1rem;
  }
}

.backdrop {
  opacity: .2;
}

.redirect-message {
  font-style: italic;
  padding-top: 2.75rem;
  font-size: .9rem;
  opacity: .6;
}

//FOOTER

footer {
  background: $clr-primary-orange;
  margin-top: 5rem;
}

.footer-inner-wrapper {
  width: 90%;
  max-width: 86rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
  padding-block: 1.75rem;
  @media(min-width: 60rem) {
    text-align: left;
    flex-direction: row;
    justify-content: space-between;
  }
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  @media(min-width: 60rem) {
    flex-direction: row;
    gap: 3rem;
  }
}

.contact-info-container h3 {
  text-transform: uppercase;
  padding-block-end: 1rem;
}

.social-media {
  display: flex;
  gap: 1.25rem;
}

.social-media img {
  width: 25px;
  transform: scale(1);
  transition: all .2s ease-in;

  &:hover {
    transform: scale(1.15);
  }
}