@use '../../assets/global-styles/variables.scss' as *;

.contact-page {
  text-align: center;
  max-width: 90%;
  margin: 0 auto;
  padding-top: 9.3rem;
  @media(min-width: 38rem) {
    text-align: left;
    max-width: 34rem;
  }
}

.contact-page__title {
  margin-bottom: 1rem;
}

.contact-page__description {
  margin-bottom: 1.5rem;
}

//MODAL

.modal {
  background: white;
  border: 3px dashed var(--text-clr);
  border-radius: 5px;
  color: var(--clr-neutral-blue-900);
  padding: 2rem;
  width: 90%;
  max-width: 28rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2000;

  h2 {
    padding-bottom: 1rem;
  }
}

.backdrop {
  opacity: .2;
}

.redirect-message {
  font-style: italic;
  padding-top: 2.75rem;
  font-size: .9rem;
  opacity: .6;
}

//FOOTER

footer {
  background: var(--clr-accent);
  margin-top: 5rem;
}

.footer-inner-wrapper {
  width: 90%;
  max-width: 86rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
  padding-block: 2.5rem 2rem;
  @media(min-width: 60rem) {
    text-align: left;
    flex-direction: row;
    justify-content: space-between;
  }
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  @media(min-width: 60rem) {
    flex-direction: row;
    gap: 3rem;
  }
}

.contact-info-container h3 {
  text-transform: uppercase;
  padding-block-end: 1rem;
}

.social-media {
  display: flex;
  gap: 1.25rem;
}

.social-media img {
  width: 25px;
  transform: scale(1);
  transition: all .2s ease-in;
  filter: var(--logo-filter);

  &:hover {
    transform: scale(1.15);
  }
}