@use '../../assets/global-styles/variables.scss' as *;

//General styles

header {
  position: fixed;
  width: 100%;
  background: var(--app-bg);
  z-index: 1000;
  box-shadow: 0 2px 20px 0 var(--box-shadow);
}

.header-inner-wrapper {
  margin: 0 auto;
  max-width: 100rem;
  padding: 1.5rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

//Logo

.logo-container {
  display: flex;
  align-items: center;
  color: var(--text-clr);
  gap: 1rem;
  letter-spacing: 1px;
  transition: all .2s ease-in;

  span {
    padding-top: .75rem;
  }
}

.logo-container:hover {
  color: var(--clr-accent);

  .logo-img {
    filter: invert(66%) sepia(34%) saturate(6865%) hue-rotate(348deg) brightness(98%) contrast(100%);
  }
}

.logo-img {
  width: 50px; 
  filter: var(--logo-filter);
  transition: all .2s ease-in;
}

//Left side/nav

.header-left {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: gray;
  position: fixed;
  inset: 0 0 60% 0;
  @media(min-width: 40rem) {
    background: none;
    flex-direction: row;
    position: static;
  }
}

.nav-menu-link {
  color: var(--text-clr);
  cursor: pointer;
  letter-spacing: 1px;
  transition: all .2s ease;
}

.nav-menu-link:hover {
  color: var(--clr-accent);
}

.hamburger-btn {
  background: transparent;
  border: 0;
  cursor: pointer;
  position: absolute;
  z-index: 9999;
  top: 2rem;
  right: 2rem;
  @media(min-width: 40rem) {
    display: none;
  }
}

.theme-toggle {
  all: unset;
  cursor: pointer;

  img {
    width: clamp(1.5rem, 4.5vw, 2rem);
  }
}
