@use '../../assets/global-styles/variables.scss' as *;

// .rating-card-outer {
//   // background: var(--app-bg);
//   min-height: 100vh;
//   display: grid;
//   place-items: center;
// }

.rating-card {
  background: var(--clr-neutral-blue-800);
  width: 90%;
  border-radius: 15px;
  max-width: 24rem;
  padding: clamp(1.5rem,2vw,2rem);
  letter-spacing: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.rating-card__img {
  background: hsla(216, 12%, 54%, .2);
  border-radius: 50%;
  padding: .75rem;
}

// RATING CARD TEXTS

.rating-card__title {
  color: var(--clr-neutral-white);
  font-size: 1.5rem;
  margin-block: 1rem .75rem;
}

.rating-card__description {
  color: var(--clr-neutral-grey-200);
  font-size: .9rem;
  margin-bottom: 2rem;
}

// RATING CARD FORM

.rating-card__form {

  .input-container {
    display: flex;
    gap: 2rem;
    justify-content: space-evenly;
  }

  input {
    opacity: 0;
    position: absolute;
  }

  label {
    color: var(--clr-neutral-grey-200);
    cursor: pointer;
    font-weight: 600;
    position: relative;
    z-index: 1;

    &:hover {
      color: white;

      &::after {
        background: var(--clr-neutral-grey-200);
        opacity: 1;
      }
    }

    &::after {
      content: '';
      position: absolute;
      background: var(--clr-neutral-grey-300);
      cursor: pointer;
      border-radius: 50%;
      width: 2.5rem;
      height: 2.5rem;
      left: 50%;
      top: 50%;
      z-index: -1;
      transform: translate(-50%, -50%);
      opacity: .2;
    }
  }

  input:checked + label {
    color: white;
  }

  input:checked + label::after {
    background: var(--clr-accent);
    opacity: 1;
  }
}