@use '../../assets/global-styles/variables.scss' as *;


.finish-title {
  padding-top: 13rem;
  padding-bottom: 1rem;
}

.feedback-text {
  display: flex;
  align-items: center;
}

.arrow {
  max-width: 100px;
  height: auto;
}

.arrow-right {
  transform: rotateY(180deg);
}

.feedback-modal-btn {
  all: unset;
  color: var(--clr-accent);
  cursor: pointer;

  &:hover {
    color: var(--text-clr);
  }
}