@use '../../assets/global-styles/variables.scss' as *;


.finish-title {
  padding-top: 15rem;
  padding-bottom: 1rem;
}

.feedback-text {
  display: flex;
  align-items: center;
}

.arrow {
  max-width: 100px;
  height: auto;
}

.arrow-right {
  transform: rotateY(180deg);
}

.feedback-link,
.feedback-link:active {
  color: var(--clr-accent);
}