@use './variables.scss' as *;

body {
  font-family: $ff-main;
}

main {
  background: $clr-neutral-blue-900;
  color: white;
  min-height: 100vh;
  @media (min-width: 60rem) {
    // background: url(../../assets/images/zsonak.png), $clr-neutral-blue-900;
    background-repeat: repeat-x;
    background-position: left bottom 1.5rem;
    background-size: 50vw 10vh;
  }
}