.container {
  margin: 0 auto;
  width: 90%;
  max-width: 34rem;
  letter-spacing: 1px;
}

.flex {
  display: flex;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.text-center {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

.sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

//Paddings

.pt-050 {
  padding-top: .5rem;
}

.pt-100 {
  padding-top: 1rem;
}

.pt-150 {
  padding-top: 1.5rem;
}

.pt-200 {
  padding-top: 2rem;
}

.pb-050 {
  padding-bottom: .5rem;
}

.pb-100 {
  padding-bottom: 1rem;
}

.pb-150 {
  padding-bottom: 1.5rem;
}

.pb-200 {
  padding-bottom: 2rem;
}

//Font weights

.fw-100 {
  font-weight: 100;
}

.fw-200 {
  font-weight: 200;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}