@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@100;200;300;400;500;600;700;800&display=swap');

:root {
//COLORS

// Primary/accent colors

--clr-primary-orange: hsl(25, 97%, 53%);

// Neutral colors

--clr-neutral-white: hsl(0, 0%, 100%);
--clr-neutral-grey-200: hsl(217, 12%, 63%);
--clr-neutral-grey-300: hsl(216, 12%, 54%);
--clr-neutral-blue-800: hsl(213, 19%, 18%);
--clr-neutral-blue-900: hsl(216, 12%, 8%);

}

// ASSIGNING LIGHT/DARK THEME VARIABLES

:root {

  // Backgrounds
  --app-bg: var(--clr-neutral-white);
  --modal-bg: var(--clr-neutral-white);
  --text-clr: var(--clr-neutral-blue-900);
  --clr-accent: var(--clr-primary-orange);
  --box-shadow: hsla(217, 12%, 63%, 0.3);
  --logo-filter: invert(5%) sepia(2%) saturate(4868%) hue-rotate(177deg) brightness(93%) contrast(93%);
  --home-bg: url(../../assets/images/ingredients-light.png);
  --error-msg-bg: rgb(252, 229, 229);
  --success-msg-bg: rgb(211, 248, 211);
}

[data-theme='dark'] {

  --app-bg: var(--clr-neutral-blue-900);
  --modal-bg: var(--clr-neutral-blue-800);
  --text-clr: var(--clr-neutral-white);
  --clr-accent: var(--clr-primary-orange);
  --box-shadow: var(--app-bg);
  --logo-filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
  --home-bg: url(../../assets/images/ingredients-dark.png);
  --error-msg-bg: none;
  --success-msg-bg: none;
}

//FONT FAMILIES

$ff-main: 'Overpass', sans-serif;

//SVG FILTERS

$filter-white: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);