@use '../../assets/global-styles/variables.scss' as *;

.orange-button {
  background: var(--clr-accent);
  border: none;
  border-radius: 35px;
  color: var(--clr-neutral-white);
  cursor: pointer;
  display: block;
  font-weight: 600;
  letter-spacing: 1px;
  margin-block: 2rem .5rem;
  padding: 1.25rem 7rem;
  text-transform: uppercase;
  text-align: center;
}